<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
</head>
</head>

<body>

    <div class="main-containt">
        {{>header}}
        <p>{{issue}}</p>
    </div>

    {{>footer}}

</body>

</html>