<footer><!-- we put all these in footer sothat we can apply css property as a box on it -->
<p>Created by {{name}}</p><!-- it will add what [app.js] file pass as footer to the related url like [/],[/about],[/help] -->

</footer>

<!--<p>Created by {{name}}</p> it will add what [app.js] file pass as footer to the related url like [/],[/about],[/help] ,,,, 
previously it was not in footer-->



