<!-- this file all containt will be present to every files those include it -->
<!--<h1>this is static.hbs text</h1>  it was for checking purpose-->

<h1>{{title}}</h1><!-- it will add what [app.js] file pass as header to the related url like [/],[/about],[/help] -->

<!-- previously all these anchor tags were in [div] but to apply css property as [header] we put all anchor 
tags into [header] tag
<div> [div] full form is [division] , it will create a section of context , here we are creating [navigation]
 that means links , these links will be present to every page that include this file 
<a href="/">Weather</a> [a] full form is [anchor] , it will give link to navigate different page , this link will open weather page 
<a href="/about">About</a> this link will open about page
<a href="/help">Help</a> this link wil open help page 

</div>-->

<header>
    <!--that means links , these links will be present to every page that include this file -->
<a href="/">Weather</a><!-- [a] full form is [anchor] , it will give link to navigate different page , this link will open weather page -->
<a href="/about">About</a><!-- this link will open about page-->
<a href="/help">Help</a><!-- this link wil open help page -->
</header>