body{
    color:#333333;
    font-family:arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;/* it is for to set footer at the end of the page */
    flex-direction: column;/* it is for to set footer at the end of the page */
    min-height: 100vh;/* it is for to set footer at the end of the page */
}

.main-containt{
    flex-grow: 1;/* it is for to set footer at the end of the page */
}

footer{
    color:#888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;  
}

header{
    margin-top:16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a{/*here if we use only [a] then it will take all anchor tags of this application , so we used [header a] */
     color:#888888;
    margin-right:16px;
    text-decoration: none;
}

/* img{ it will select all images of your page so we will use here [class selector] */
.portrait{
    width:250px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}